@import "../../utils/palette";

.ui-button  {
  opacity: 0.8;
  color: $teal;
  padding: 10px;
  border-radius:5px;
  border: solid $teal 3px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  user-select: none;

  .hotkey-letter {
    color: $mint;
  }

  .hotkey-hint {
    font-size: smaller;
    color: $mint;
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  -webkit-backface-visibility: hidden;
}

.ui-button.toggled {
  background-color: darken($teal, 0.9);
  color: black;

  .hotkey-letter {
    color:black;
  }
}

.ui-button:hover,.pseudo-active {
  opacity: 0.9;
  background-color: darken($teal, 0.9);
  color: black;
  cursor: pointer;

  transform: scale(1.03);

  transition: transform .1s;

  .hotkey-letter {
    color: black;
  }
}

.ui-button:active,.pseudo-active {
  transition: transform .02s;
  transform: scale(0.98);
}

.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ui-button.thin {
  padding: 2px 10px;
  font-size: small;
  display: flex;
  flex-direction: row;

  & > * {
    margin-left: 10px;
  }

  & > *:first-child {
    margin-left: 0;
  }
}

.ui-button.disabled {
  color: $gray;
  border-color: $gray;
  background-color: black;

  transform: none;

  transition: none;

  .hotkey-letter {
    color: $gray;
  }
}
