.ui-checkbox {
  padding: 0;
  display: inline-block;
  border: 0;
  vertical-align: middle;
  position: relative;

  input {
    position: absolute;
    top: -1px;
    margin: 0;
    height: inherit;
    width: inherit;
    line-height: inherit;
    font-size: inherit;
    vertical-align: baseline;
  }
}
