@import "../../utils/palette.scss";

.ui-window {
  position: absolute;
  top: 50%;
  left: 50%;

  > * {
    position: relative;
    left: -50%;
    top: -50%;
    opacity: 0.9;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
  }
}

.ui-window-controls {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: black;
  padding: 0 5px;
  opacity: 1.0;
  display: flex;
  flex-direction: row;

  .ui-button {
    padding: 0;
    border-width: 0;
    display: flex;
    font-size: 100%;
    line-height: 100%;
    height: 100%;;
    color: $teal;
    border-radius: 0;
    justify-content: center;
    align-items: center;
  }
}

.ui-window-minimized {
  border: solid 1px $teal;
  height: 34px;
  display: flex;
  align-items: center;
  position: relative;

  .ui-window-controls {
    width: 20px;
    padding: 0;
    border-left: solid 1px $teal;
    right: 0;
    position: static;
    flex-direction: column;
    margin-left: auto;

    .ui-button {
      border-bottom: solid 1px $teal;
    }

    .ui-button:last-of-type {
      border-bottom: none;
    }
  }
}
