@import "../utils/palette";
.changelog {
  padding: 10px;
  color: $teal;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul, ol {
    margin: 5px 0;
  }
}
