@import "../utils/palette";

.css-window-marker-chatWindow {
  .ui-window-controls {
    top: -1px;
  }
}

.chat-window {
  padding: 10px;
  height: calc(100% - 20px);
  position: relative;
  color: $teal;
  background: black;
  outline: none;



  .tabs {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    user-select: none;

    .tabs-header {
      margin: 0;
      height: 30px;
      border-color: $teal;
    }

    .tab {
      background: black;
      color: $teal;
      //border: none;
      //width: 50%;
      //text-align: center;
    }

    .react-tabs__tab:focus {
      box-shadow: none;
      border-color: $teal;
      outline: none;
    }

    .react-tabs__tab:focus:after {
      content: none;
    }


    .tab.keep-selected-style {
      box-shadow: none;
      border-color: $teal;
      outline: none;
      margin-bottom: 10px;
    }

    // react-tabs has a pretty bad UX solution where when the tab loses :focus, it loses important styling. this is a hack around it
    .tab.keep-selected-style:after {
      content: "";
      position: absolute;
      height: 5px;
      left: -1px;
      right: -1px;
      bottom: -5px;
      background: black;
    }

    .tabs-panel {
      flex: 1 0;
      //background: black;
    }

    //.tab:hover {
    //  background: $teal;
    //  color: black;
    //}
  }
}

.chat-window-minimized {
  height: 200px;

  .ui-window-controls {
    align-self: flex-end;
    border-top: solid $teal 1px;
    height: 36px;
  }

  .chat {
    width: 100%;
  }
}
