@import "../utils/palette";
.chat-window {
 height: 380px;

  .tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .tabs-panel {
      height: 360px;
    }

    .tabs-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 40px;
      border-bottom: solid 1px $teal;
      padding: 3px;
    }

    .tab {
      background: black;
      color: $teal;
      border: none;
      width: 50%;
      text-align: center;
    }

    .tab:hover {
      background: $teal;
      color: black;
    }
  }
}

.chat-window-minimized {
  height: 200px;

  .ui-window-controls {
    align-self: flex-end;
    border-top: solid $teal 1px;
    height: 36px;
  }

  .chat {
    width: 100%;
  }
}
