@import "../utils/palette.scss";

$controlPanelHeight: 69px;

.control-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $teal;
  display: flex;

  .rect {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 !important;
  }

  .ui-button {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0;
  }

  .money-and-hp {
    align-self: flex-end;

  }

  .money {
    color: white;
    padding: 1px;
    position: relative;

    .text {
      width: 80px;
      display: inline-block;
      text-align: right;
    }

    .money-icon {
      width: 15px;
      height: 15px;
      display: inline-block;
      background: url("../../public/resources/gold.png") no-repeat 0 3px;
      background-size: 15px 15px;
    }

  }

  .hp-bar {

    .content {
      width: 100%;
      height: 20px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        color: white;
      }

      .filler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: green;
        opacity: 0.5;
      }
    }


  }

  .portrait {
    width: 100%;
    height: 100%;
  }
}
