@import "../utils/palette";

.dialogue, .minimized-dialogue {
  .prompt {
    line-height: 24px;
    font-size: larger;
    padding: 20px;
  }

  .options {
    padding: 20px;
  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .line .dialogue-option {
    text-decoration: underline;
    cursor: pointer;
  }

  .line:last-child {
    margin-bottom: 0;
  }
}

.history {
  width: 400px;
  height: 400px;

  .history-contents {
    //height: 400px;
    display: flex;
    flex-direction: column;
  }

  .history-item {
    color: #999;
    font-size: smaller;
    padding: 5px;
  }

  .history-item.option {
    color: #9f9;
  }

  .history-item:last-child {
    color: white;
    font-size: larger;
  }
}

.dialogue {
  position: absolute;
  width: 600px;
  padding: 0;
  height: 600px;
  border-width: 3px;
  font-size: 18px;

  .context-part {
    height: 400px;
    width: 100%;

    img {
      height: 100%;
    }

    position: relative;
  }

  .context-character {
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    width: 50px;
    height: 50px;
  }

  .context-character.big {
    width: 200px;
    height: 200px;
  }

  .scene {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border: 0 solid $teal;
  }

  .hint {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
  }

  .sub-planet {
    color: #fbe7c6;
    text-decoration: underline;
    cursor: pointer;
  }

  .sub-generic {
    color: #b4f8c8;
  }

  .sub-character {
    color: #7ec8e3;
  }
}

.minimized-dialogue {
  height: 340px;

  font-size: 12px;

  .contents {
    height: 340px;
    width: 340px;
  }

  .ui-button {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .options {
    box-sizing: border-box;
    height: 120px;
    padding: 5px 15px;
  }

  .history {
    height: 220px;
    width: 310px;
    padding: 5px;
    box-sizing: border-box;

    .history-item {
      font-size: smaller;
      padding: 5px;
    }

    .history-item.option {
      color: #9f9;
    }

    .history-item:last-child {
      color: white;
      font-size: medium;
    }
  }
}

.dialogue-window-content {
  opacity: 0.9;
}

