@import "../utils/palette";

.global-context-menu {
  background: rgba(0,0,0, 0.8);
  color: $teal;

  border: solid 1px $teal;
  padding: 5px;

  .menu-item.rc-menu__item--hover {
    background: $teal;
    color: black;
  }
}
