.help-window {
  .help-window-content {
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }

  .header {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }
}
