.hover-hint-window {
  position: absolute;
  top: 30px;
  color: white;
  background-color: rgba(0,0,0, 0.8);
  left: 30px;
  font-size: 12px;
  line-height: 14px;

  .hover-hint-window-content {
    padding: 5px;
    height: calc(100% - 10px);
  }

  .content {
    .header {
      font-size: 14px;
    }
    .rare {
      font-weight: bold;
      color: #ffd700;
    }
    .uncommon {
      font-weight: bold;
      color: #c0c0c0;
    }
    .common {
      font-weight: bold;
      color: #b87333;
    }
  }
}
