$height: 661px;
$width: 661px;
$scrollOffset: 10px;
.inventory-window {
  height: $height;
  position: relative;

  .content {
    padding: 0 10px;
    position: relative;
  }

  $cellSize: 60px;
  $cellSizeS: 59px;
  $gridColor: #ccc;
  overflow: hidden;

  .grid {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: calc(100% - #{$scrollOffset});
    background-size: $cellSize $cellSize;
    background-image: repeating-linear-gradient(0deg, transparent, transparent $cellSizeS, $gridColor $cellSizeS, $gridColor $cellSize),
    repeating-linear-gradient(-90deg, transparent, transparent $cellSizeS, $gridColor $cellSizeS, $gridColor $cellSize);
  }


  .item {
    position: absolute;
    background: red;
    border: solid red 1px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
}
