.trade-window {
  height: 100%;
  padding: 10px 0 10px 10px;
}

.trade-window-padded-content {
  height: calc(100% - 21px);
  width: calc(100% - 0.5px);
  position: relative;
}

.inventory-window {
  height: 100%;
  padding: 10px 0 10px 10px;
}

.inventory-window-padded-content {
  height: calc(100% - 21px);
  width: calc(100% - 0.5px);
  position: relative;
}
