@import "../utils/palette";
$cellSize: 60px;
$cellSizeS: 59px;
$gridColor: #ccc;

.item-grid {
  $scrollOffset: 10px;

  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: calc(100% - #{$scrollOffset});
  background-size: $cellSize $cellSize;
}

.grid-gray {
  background-image: repeating-linear-gradient(0deg, transparent, transparent $cellSizeS, $gridColor $cellSizeS, $gridColor $cellSize),
  repeating-linear-gradient(-90deg, transparent, transparent $cellSizeS, $gridColor $cellSizeS, $gridColor $cellSize);
}

.grid-red {
  background-image: repeating-linear-gradient(0deg, transparent, transparent $cellSizeS, red $cellSizeS, red $cellSize),
  repeating-linear-gradient(-90deg, transparent, transparent $cellSizeS, red $cellSizeS, red $cellSize);
}

.grid-green {
  background-image: repeating-linear-gradient(0deg, transparent, transparent $cellSizeS, green $cellSizeS, green $cellSize),
  repeating-linear-gradient(-90deg, transparent, transparent $cellSizeS, green $cellSizeS, green $cellSize);
}


.item-grid-item {
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  .quantity {
    font-size: 10px;
    line-height: 10px;
    color: black;
    background-color: darken($teal, 15);
    border-radius: 3px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
}
