.leaderboard-window-content {
  display: flex;
  align-items: center;
  flex-direction: column;


  .header {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .my-score {
    color: #b4f8c8;
  }

  .countdown {
    line-height: 20px;
    color: #fbe7c6;
    margin-bottom: 10px;
  }
}

.leaderboard-window-minimized {
  color: white;
  padding: 10px;
  font-size: 14px;
}
