@import "../utils/palette.scss";
.leaderboard-window-content {
  display: flex;
  align-items: center;
  flex-direction: column;


  .header {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .my-score {
    color: #b4f8c8;
  }

  .winner {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .countdown {
    line-height: 20px;
    color: #fbe7c6;
    margin-bottom: 10px;
  }

  .news-talk {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    height: 50px;
    color: white;

    a {
      color: $teal !important;
      line-height: 24px;
      font-size: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}

.leaderboard-window-minimized {
  color: white;
  padding: 10px;
  font-size: 14px;
}
