@import "../utils/palette";
.network-status {
  position: absolute;
  top: 0;
  left: 0;
  color: $teal;
}

.network-status-content {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  & > * {
    flex: 1 0;
    padding-left: 2px;
  }
}

.ping {
  display: flex;
  align-items: center;
}

.ping-text {
  height: 15px;
}

.connecting {
  margin-left: 10px;
}
.fps-text {
  height: 16px;
}

.desync {
  display: flex;
  align-items: center;
}

.desync-text {
  height: 15px;
}

.fps {
  display: flex;
  align-items: center;
}



