.overhead-panel-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

.overhead-panel {
  padding: 0;
}

.overhead-panel-content {
  color: white;
  position: relative;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  .time {
    justify-content: center;
    align-items: center;
    display: flex;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    font-size: 40px;
    line-height: 40px;
  }
}
