.panel-base {
  z-index: 10;
  width: 300px;
  padding: 10px;
  color: white;
  background-color: #555;
  border-radius: 5px;
  border: solid blue 1px;
}

.panel {
  @extend .panel-base;
  position: absolute;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aux-panel {
  bottom: 0;
  right: 0;
}

.game-panel {
  bottom: 0;
  left: 0;
}

.status-panel {
  top: 0;
  right: 0;
}

.small-help {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: white;
  opacity: 1;
  z-index: 100;
}

.leaderboard-panel {

}

.debug-state {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.9;
  padding-right: 30px;
}

.final-leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding: 50px;

  .scores {
    font-size: 24px;
    margin-bottom: 16px;

  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .countdown {
    line-height: 20px;
    color: #fbe7c6;
    margin-bottom: 10px;
  }
}


$hideButtonSize: 20px;
.panel {
  .hide-button {

    display: block;
    width: 0;
    height: 0;
    border: $hideButtonSize solid transparent;
    border-left: $hideButtonSize solid blue;

    position: absolute;
    cursor: pointer;

    .arrow {
      position: absolute;
      transform: rotate(180deg);
      font-size: 14px;

      top: -8px;
      left: -18px;
    }
  }
}

.panel.extra-wide {
  width: 600px;
}

.aux-panel {
  .hide-button {
    transform: rotate(225deg);
    top: -$hideButtonSize;
    left: -$hideButtonSize;
  }
}

.game-panel {
  .hide-button {
    transform: rotate(-45deg);
    top: -$hideButtonSize;
    right: -$hideButtonSize;
  }
}

.panel-minimized {
  cursor: pointer;
}

