.panel-base {
  z-index: 10;
  width: 300px;
  padding: 10px;
  opacity: 0.5;
  color: white;
  background-color: #555;
  border-radius: 5px;
  border: solid blue 1px;
}

.panel {
  @extend .panel-base;
  position: absolute;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aux-panel {
  bottom: 0;
  right: 0;
}

.game-panel {
  bottom: 0;
  left: 0;
}

.status-panel {
  top: 0;
  right: 0;
}

.small-help {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  opacity: 1;
  z-index: 100;
}

.help {
  opacity: 1;
  z-index: 100;

  .header {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.leaderboard-panel {
  .scores {
    .header {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .line {
      line-height: 20px;
      margin-bottom: 10px;
    }
    .my-score {
      color: #b4f8c8;
    }
  }

  .countdown {
    line-height: 20px;
    color: #fbe7c6;
    margin-bottom: 10px;
  }
}

.debug-state {
  height: 500px;
  overflow: auto;
  opacity: 0.9
}

.final-leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding: 50px;

  .winner {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .scores {
    font-size: 24px;
    margin-bottom: 16px;

  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .countdown {
    line-height: 20px;
    color: #fbe7c6;
    margin-bottom: 10px;
  }
}


.quest-panel {
  opacity: 1.0;
  .header {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .description {
    color: #7ec8e3;
  }

  .line {
    line-height: 20px;
    margin-bottom: 10px;
    opacity: 1.0;
  }

  .stages {

  }

  .elem {
    color: #fbe7c6;
  }

  .done {
    color: #b4f8c8 !important;
    text-decoration: line-through;
  }
}
