@import "../utils/palette";
.prompt-window-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $teal;

  & > * {
    margin-bottom: 10px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .button {
      flex-basis: 55px;
    }
  }

  .prompt {
    font-size: large;
  }
}
