@import "../utils/palette.scss";
.quest-window {
  > * {
    .header {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }
    .description {
      color: $babyBlue;
    }

    .line {
      line-height: 20px;
      margin-bottom: 10px;
      opacity: 1.0;
    }

    .stages {

    }

    .elem {
      color: $yellow;
      text-decoration:underline;
      cursor: pointer;
    }

    .done {
      color: $mint !important;
      text-decoration: line-through;
    }
  }
}

.quest-minimized {
  color: white;
  padding: 10px;
  font-size: 14px;
}

