@import "../utils/palette.scss";

$menuWidth: 600px;

.start-hud {
  font-size: 20px;
  display: flex;
  color: $teal;
  align-items: center;
  flex-direction:column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;

  &>* {
    margin-top: 30px;
  }

  .music-toggle, .autostart-toggle {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: $menuWidth;
    & > .label {
      // a hack to deal with uneven distribution of flex
      // I have no idea why border-box doesn't work
      border: solid transparent 3px;
    }
    & > * {
      flex: 1 0;
      margin: 0 5px;
      box-sizing: border-box;
      padding: 10px 0;
    }
  }
  .title {
    font-size: 60px;
  }

  .dice {
    padding: 2px;
    font-size: 14px;
    border-width: 1px;
  }

  .name-selector {
    width: 250px;
    position: relative;

    .dice {
      position: absolute;
      right: -9px;
      top: 4px;
    }

    .name-input {
      text-align: center;
      width: 250px;
    }
  }



  .portrait-selector {
    display: flex;

    $imgSize: 200px;

    .image {
      width: $imgSize;
    }

    justify-content: center;
    align-items: center;
    width: 600px;

    .next, .prev {
      margin: 0 10px;
      width: 20px;
      border-width: 0;
      transform: scaleY(2.0);
    }

    .image-cont {
      position: relative;
      width: $imgSize;
      height: $imgSize;
    }
    .dice {
      height: 16px;
      position: absolute;
      bottom: 3px;
      right: 3px;
      background-color: black;
    }
    .dice:hover {
      color: $teal;
      background-color: $gray;
    }

  }

  .play {
      font-size: 30px;
      width: 200px;
      height: 60px;
  }

  .music-volume {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: $menuWidth;

  }

  .music-volume-label {
    width: 200px;
    margin-right: auto;
    margin-left: 5px;
  }

  .music-volume-bar-cont {
    margin-left: auto;
    margin-right: 2px;
    width: 400px;
  }

  .music-volume-bar {
    width: 100%;
  }

  .about {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: $teal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > * {
      margin-top: 10px;
    }

    a {
      color: $teal !important;
      line-height: 24px;
      font-size: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .copyright {
      line-height: 16px;
      font-size: 12px;
    }


  }

  .versions-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    bottom: 40px;
    left: 40px;

    font-size: 14px;
    line-height: 20px;
  }
}
