.three-loader {
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  .loader {
    margin-top: 50vh;
    margin-left: 50%;
  }

  .text {
    padding-top: 40px;
    text-align: center;
  }
}
