* {
  user-select: none;
}

.normal-selection {
  user-select: all;
}

input {
  user-select:auto;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

.react-jinke-music-player-main {
  display: none;
}

.grabbable,.grabbable-invisible {
  cursor: grab;
}
.grabbable:active {
  cursor: grabbing;
}

.grabbable-invisible:active {
  cursor: none;
}

.no-reset {
  * {
    all: revert;
  }
}

.full-height {
  height: 100%;
}
