$babyBlue: #7ec8e3;
$blue: #0000ff;
$navyBlue: #000c66;
$darkBlue: #050a30;
$gray: #555;
$transparentGray: #80808010;
$semiTransparentGray: #80808050;
$semiTransparentBlack: #00000050;
$tiffanyBlue: #a0e7e5;
$mint: #b4f8c8;
$yellow: #fbe7c6;
$teal: #06f9e6;
$crimson: #e32636;
$darkGreen: #03c03c;
$dirtyGray: #60593c;
$rare: #ffd700;
$uncommon: #c0c0c0;
$common: #b87333;
